:root {
  --height-bottom-bar: 3rem;
}
.dark {
  --bg-body: #2e2e58;
  --bg-body-dark: #212140;
  --text-primary: #fefefe;
  --bg-active: #ec97ff;
  --bg-active-2: #7c70c9;
  --bg-active-light: #beb5ff;

  --bg-input: #272a47;
  --border-dull: #766dad4c;
}
